/* Preloader */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgb(0, 0, 0); /* change if the mask should have another color then white */
	z-index:9999999999; /* makes sure it stays on top */
}
#status {
	width:100vw;
  height:100vh;
  background-size: cover;
	color:#ffc600;
/* centers the loading animation vertically one the screen */
	background-image:url(../images/zap.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
}
#status p{
  text-align:center;
}

/* Mains */
html, body{
  background-color: #000;
  color: #fff;
  text-align: center;
  
}
.row{
text-align: center;
}
/* Fonts */
h1 {
  font-family: 'Coiny', cursive;
  
}
h2 {
  font-family: 'Rum Raisin', sans-serif;  
  position: relative;
  color: #fff;
  font-size: 10px;
  text-align: center;}
h2 span {
  top: -15px;
  opacity: 0;
  position: relative;
}
h2 span.in {
  opacity: 1;
  top: 0;
}
h3 {
	font-family: 'Arima Madurai', cursive;
}
h4 {
  font-family:'Baskerville', serif;
  font-size: 30px;
}
h5 {
  font-family: 'Atma', cursive;
}
h6 {
	font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Handlee', cursive;
  font-size: 12px;
}
  
a {
  font-family: 'Playfair Display', serif;
}
/* full parallax */


/*  */
/*  */
.stroke{
  color: #ffffff;
  -webkit-text-stroke: 0.5px #ffc600;
}
.strokep{
  -webkit-text-stroke: 0.5px #f382bf;
}.strokeg{
  -webkit-text-stroke: 0.5px #67b31b;
}
.strokeb{
  -webkit-text-stroke: 0.5px #3ecbec;
}
.strokebl{
  -webkit-text-stroke: 0.5px #000;
}
#table {
	display: table;
	width: 100%;
	height: 100%;
  background-color: transparent;
  color:#fff;
}

#centeralign {
	display: table-cell;
	vertical-align: middle;
}
/* Text End */
/* Slide */
/* moving Table */
.Marquee {
  background: linear-gradient(-135deg, #008ed9, #8b00db);
  width: 100%;
  height:200px;
  box-sizing: border-box;
  padding: 1em;
  color: #fff;
  display: flex;
  align-items: center;
  left: 10px;
  overflow: hidden;
}
.Marquee-content {
  height: 200px;
  display: flex;
  animation: marquee 25s linear infinite running;
}
.Marquee-content:hover {animation-play-state: paused;
}
.Marquee-tag {
  width: 200px;
  margin: 0 0.5em;
  padding: 0.5em;
  background: rgba(255,255,255,0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.Marquee-tag:hover {
  background: rgba(255,255,255,0.5);
  transform: scale(1.1);
}
  @-moz-keyframes marquee {0% {transform: translateX(0);
  }100%
   {transform: translate(-50%);}}
   @-webkit-keyframes marquee
    {0% {transform: translateX(0);}100% 
    {transform: translate(-50%);}}
    @-o-keyframes marquee {0% {transform: translateX(0);}100% {transform: translate(-50%);}}
   @keyframes marquee {0% {transform: translateX(0);}100% {transform: translate(-50%);}}
  
/* The Modal (background) */
.modal {
  z-index:6;
  display:none;
  padding-top:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8);
  }
  
  .modal-content{
  margin: auto;
  display: block;
  position: absolute;
  height:300px;
  width:300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
  .modal-hover-opacity {
  opacity:1; 
  filter:alpha(opacity=100);
  -webkit-backface-visibility: hidden;
  }
  
  .modal-hover-opacity:hover {
  opacity:0.60;
  filter:alpha(opacity=60);
  -webkit-backface-visibility:hidden;
  }
  .close {
  text-decoration:none;
  float:right;
  font-size:24px;
  font-weight:bold;
  color:#000;
  }
  .container1 {
  width:300px;
  display:inline-block;
  float: ;
  }
  .modal-content, #caption {   
    
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
  }
  @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
  }
/* Img End */
/* Carousel main */
/* Slider wrapper*/
.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
/* Slider */
.slider {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  /* padding: 20px; */
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* each slide backgound color slide1: b70000*/  
.slide1 {
  background: #b70000;
  left: 0;
}
.slide2 {
  background: #dca307;
  left: 100%
}
.slide3 {
  background: #67b31b;
  left: 200%
}
.slide4 {
  background: #0092b3;
  left: 300%;
}
.slider > div {
  text-align: center;
}
/* Slider inner slide effect */
.slider h2 {
  color: #FFF;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 120%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}
.slider .button {
  color: #FFF;
  padding: 5px 30px;
  background: rgba(255,255,255,0.3);
  text-decoration: none;
  opacity: 0;
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}
.slider h2, .slider .button {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
/* Next and Preive arrow 150 */ 
.control {
  position: absolute;
  top: 30%;
  width: 50px;
  height: 50px;
  margin-top: -75px;
  z-index: 55;
}
.control label {
  z-index: 0;
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  color: #FFF;
  opacity: 0.2;
}
.control label:hover {
  opacity: 0.5;
}
.next {
  right: 1%;
}
.previous {
  left: 1%;
}
/* Slider Pagger */ 
.slider-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
}
.slider-pagination label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255,255,255,0.2);
  margin: 0 2px;
  border: solid 1px rgba(255,255,255,0.4);
  cursor: pointer;
}
/* Slider Pagger arrow event */
.slide-radio1:checked ~ .next .numb2, 
.slide-radio2:checked ~ .next .numb3, 
.slide-radio3:checked ~ .next .numb4, 
.slide-radio2:checked ~ .previous .numb1, 
.slide-radio3:checked ~ .previous .numb2, 
.slide-radio4:checked ~ .previous .numb3 {
  display: block;
  z-index: 1
}
/* Slider Pagger event */
.slide-radio1:checked ~ .slider-pagination .page1, 
.slide-radio2:checked ~ .slider-pagination .page2, 
.slide-radio3:checked ~ .slider-pagination .page3, 
.slide-radio4:checked ~ .slider-pagination .page4 {
  background: rgba(255,255,255,1)
}
/* Slider slide effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}
.slide-radio1:checked ~ .slide1 h2,  
.slide-radio2:checked ~ .slide2 h2,  
.slide-radio3:checked ~ .slide3 h2,  
.slide-radio4:checked ~ .slide4 h2,  
.slide-radio1:checked ~ .slide1 .button,  
.slide-radio2:checked ~ .slide2 .button,  
.slide-radio3:checked ~ .slide3 .button,  
.slide-radio4:checked ~ .slide4 .button {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}

@media only screen and (max-width: 767px) {
.slider h2 {
  font-size: 20px;
}
.slider > div {
  padding: 0 2%
}
.control label {
  font-size: 35px;
}
.slider .button {
  padding: 0 15px;
}
}

/* indexcss wormholetooltip */
/**/ 
/* Video HTML Frames */
iframe{
  height:200px ;
  width: 300px;
}
.iframe-container{
  position: relative;
  width:300px;
  top:0;
  left: 0;
  height:200px;
  border: 0; 
}
/* Nav */
ul {
  list-style-type: none;
  padding-left: 0px;
}

nav {
  position: relative;
}
nav ul {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
nav ul li {
  width: 100%;
  text-align: center;
}
nav ul li a {
  display: flex;
  justify-content: center;
  color:#fff;
  transition: all .15s ease;
}
nav ul li a:hover {
  color: #fff;
  transition: all .15s ease;
}
nav ul li a.selected {
  transition: all .15s ease;
  color: white;
}
/* original position is absolute , bottom is the hori*/
#navActiveBG {
  position: relative;
  top: 14px;
  width: 20%;
  height: 24px;
  background: #fff;
  border-radius: 4px;
  transition: -webkit-transform 0.5s cubic-bezier(0.7, -0.2, 0.2, 1.5);
  transition: transform 0.5s cubic-bezier(0.7, -0.2, 0.2, 1.5);
  transition: transform 0.5s cubic-bezier(0.7, -0.2, 0.2, 1.5), -webkit-transform 0.5s cubic-bezier(0.7, -0.2, 0.2, 1.5);
  will-change: transform;
  z-index: -1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
nav
{
    float:none;
    clear:both;
    width:100%;
    margin:5% auto;
   
}
nav ul
{
    list-style:none;
    margin:0px;
    padding:0px;
}
nav li
{
    float: none;
    width:100%;
                
}
nav li a
{
    display: block;
    width:100%;
    padding:15px;
    border-left:5px solid;
    font-family: 'Atma', cursive;
    font-size: 10px;
    position:relative;
    z-index: 2;/*for showing the lower layer*/
    text-decoration: none;
    box-sizing: border-box;   
}
nav li a:hover
{
    border-bottom: 0px;
    color:white;
    text-decoration:none;   
}
nav li:first-child a
{
    border-left: 10px solid #b70000;    
}
nav li:nth-child(2) a
{
    border-left: 10px solid #f382bf;
    
} 
nav li:nth-child(3) a
{
    border-left: 10px solid #ffc600;
    
}

 nav li:nth-child(4) a
{
    border-left: 10px solid #67b31b; 
    
}
nav li:last-child a
{
    border-left: 10px solid #0092b3;
    
}
nav li a:after
{
    content:"";
    height:100%;
    left:0px;
    top:0px;
    width:0px;
    position: absolute;
    transition: all .3s ease 0s;
    z-index: -1;
}
 nav li a:hover:after
{
    width:100%;
     
}
nav li:first-child a:hover
{
    background-color: #b70000;    
}
 nav li:nth-child(2) a:after
{
    background-color:#f382bf;
}
nav li:nth-child(3) a:after
{
    background-color:#ffc600;
} 
nav li:nth-child(4) a:after
{
    background-color:#67b31b; 
} 
nav li:last-child a:after
{
    background-color:#0092b3;
}
/* Press */

 /* card */
 .skill-card {
	position: relative;
  top: 50%;
  left:50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
	padding: 20px;
	width: 260px;
	background-color: transparent;
	box-shadow: 0 1px 3px rgba(241, 236, 236, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .skill-card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .skill-card:hover .skill-card__header {
	height: 50px;
  }
  .skill-card:hover .skill-card__header .skill-card__icon {
	-webkit-transform: translateX(-50%) translateY(-50%) scale(3);
      transform: translateX(-50%) translateY(-50%) scale(3);
  }
  .skill-card:hover .skill-card__body {
	height: 200px;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li {
	-webkit-transform: translateX(0);
			transform: translateX(0);
	transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
	transition-duration: 0.5s;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
	transition-delay: 0.25s;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
	transition-delay: 0.5s;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
	transition-delay: 0.75s;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
	transition-delay: 1s;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
	transition-delay: 1.25s;
  }
  .skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
	transition-delay: 1.5s;
  }
  .skill-card .skill-card__header {
	position: relative;
	height: 200px;
	margin: -20px -20px -20px -20px;
	transition: height 0.5s;
	overflow: hidden;
  }
  .skill-card .skill-card__header .skill-card__icon {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
			transform: translateY(-50%) translateX(-50%);
	display: block;
	width: 100%;
  height: 200px;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .skill-card .skill-card__body {
	height: 50px;
	transition: height 0.5s;
	overflow: hidden;
	text-align: center;
	
  }
  .skill-card .skill-card__body .skill-card__title {
  font-size: 18px;
  top: 13px;
	text-transform: uppercase;
  color:#fff;
  letter-spacing: 1px;
  }
  .skill-card .skill-card__body .skill-card__duration {
  color: #fff;
  font-family: 'Atma', cursive;
  font-size: 16px;
  }
  .skill-card .skill-card__body .skill-card__knowledge {
	margin-top: 10px;
	color: #424242;
  }
  .skill-card .skill-card__body .skill-card__knowledge li {
	margin-top: 5px;
	transition-duration: 0;
	transition-delay: 0.5s;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
  }
  /* pixel cards */
  /* Shine */
  .snip1446 {
    position: relative;
    overflow: hidden;
    margin: 5px 5px;
    min-width: 70px;
    max-width: 200px;
    max-height: 300px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
  }
  .snip1446 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    justify-content: center;
  }
  .snip1446 img {
    opacity: 1;
    width: 100%;
  }
  .snip1446:after,
  .snip1446:before,
  .snip1446 figcaption:after,
  .snip1446 figcaption:before {
    background: #000;
    width: 50%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s steps(4);
    transition: all 0.3s steps(4);
    z-index: 1;
    top: 100%;
    bottom: 0;
  }
  .snip1446:before {
    left: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
  }
  .snip1446:after {
    left: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
  .snip1446 figcaption:before {
    left: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1;
  }
  .snip1446 figcaption:after {
    left: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1;
  }
  .snip1446 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 5px;
  }
  .snip1446 h2,
  .snip1446 p,
  .snip1446 .icons {
    margin: 0;
    width: 100%;
    opacity: 0;
  }
  .snip1446 h2 {
    letter-spacing: 3px;
    font-size: 20px;
    text-transform: uppercase;
  }
  .snip1446 p {
    font-size: 15px;
  }
  .snip1446:hover:after,
  .snip1446.hover:after,
  .snip1446:hover:before,
  .snip1446.hover:before,
  .snip1446:hover figcaption:after,
  .snip1446.hover figcaption:after,
  .snip1446:hover figcaption:before,
  .snip1446.hover figcaption:before {
    top: 0;
    opacity: 0.99;
  }
  .snip1446:hover figcaption h2,
  .snip1446.hover figcaption h2,
  .snip1446:hover figcaption p,
  .snip1446.hover figcaption p,
  .snip1446:hover figcaption .icons,
  .snip1446.hover figcaption .icons {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  .snip1446:hover figcaption h2,
  .snip1446.hover figcaption h2,
  .snip1446:hover figcaption .icons,
  .snip1446.hover figcaption .icons {
    opacity: 1;
  }
  .snip1446:hover figcaption p,
  .snip1446.hover figcaption p {
    opacity: 0.9;
  }
  /*  */

	/* ParticleNav */
.particle-network-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}
.particle-network-animation::before {
  z-index: -2;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0));
}

.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move 25s linear infinite both;
}

@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move 25s linear 8.33333s infinite both;
}

@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move 25s linear 16.66667s infinite both;
}

@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}
/*End ParticleNav*/

/* floating */

.floating{
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

.floatingAlternate{
  -webkit-animation-name: FloatingxAlternate;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: FloatingAlternate;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);}    
}
  
@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 15px);}
  to {-moz-transform: translate(0, -0px);}    
}

@-webkit-keyframes FloatingxAlternate{
  from {-webkit-transform:translate(0, 0px);}
  60% {-webkit-transform:translate(0, 25px);}
  to {-webkit-transform: translate(0, -0px);}    
}
  
@-moz-keyframes FloatingAlternate{
  from {-moz-transform:translate(0, 0px);}
  60% {-moz-transform:translate(0, 25px);}
  to {-moz-transform: translate(0, -0px);}    
}

